Header {
   background-color: var(--main-blue);
}

.btn-close {
   font-size: 1rem;
}

.study-img-container {
   display: none;
}

.client-name {
   color: #474747 ;
   font-size: .8em;
}

.client-name:hover {
   color: var(--yellow-two)
}

.navbar {
   background-color: #0077cc;
   min-height: 7rem;
}

.navbar-toggler-icon {
   font-size: 0.9rem;
}

.profile-nav__item {
   font-size: 0.9rem;
}

#dropdown1 {
   margin-top: 1rem;
}

#dropdown-basic-button-2 {
   color: var(--text-one);
   font-size: 0.9rem;
   border: none;
}

#dropdown-basic-button-2:hover {
   color: var(--yellow-two);
   background-color: var(--main-blue) !important;
}

#dropdown-basic-button-2::after {
   display: none;
}

.delete-title {
   background-color: var(--red-one);
}

.delete-account-button {
   background-color: var(--red-one);
   padding: 0.375rem 0.75rem;
   border: none;
   border-radius: 0.375rem;
}

.rapid-cards {
   font-family: 'Lato', sans-serif;
}

.avatar {
   width: 5rem !important;
   height: 5rem !important;
}

a {
   cursor: pointer;
   text-decoration: none;
}

Link {
   text-decoration: none;
}

.btn-primary {
   background-color: var(--main-blue) !important;
   border: none !important;
}

.btn-primary:hover {
   background-color: #3399FF !important;
}

.modal-title {
   font-size: 1rem;
}

.welcome-link {
   color: inherit;
}

.welcome-link:hover {
   color: var(--yellow-two);
}

.link {
   color: inherit;
}

.link:hover {
   color: var(--yellow-two);
}

.add-deck-btn {
   font-size: 1rem;
   padding: 5px;
   margin: 0.5rem 0;
   background-color: var(--light-gray);
}

.add-deck-btn:hover {
   background-color: var(--card-yellow);
}

.add-deck-form-input {
   width: 8rem;
   margin: 0.5rem 0 1.1rem;
   padding: 0 0.75rem;
   border: none;
   border-radius: 10px;
   background-color: var(--light-gray);
}

.deck {
   margin: 0 0.5rem 0 0;
   display: flex;
   align-items: center;
}

.deck-name {
   padding: 0.5rem;
   cursor: pointer;
}

.deck-icon {
   font-size: 1.2rem;
   border: 1px solid;
   padding: 3px;
   transition: 0.2s;
   background-color: var(--yellow-two);
}

.deck-icon:hover {
   font-size: 1.4rem;
}

.alt-choices {
   display: none;
}


.carousel {
   width: 90vw;
   overflow-wrap: break-word;
}

.carousel-counter {
   width: 90vw;
   margin: 0 auto;
}

.card-container {
   cursor: pointer;
   width: 100%;
}

.outer-card {
   perspective: 2500px;
   width: 100%;
}

/* CURRENTLY SETTING HEIGHT HERE */
.card {
   font-size: 2rem;
   width: 100%;
   height: 18rem;
   position: relative;
   transition: transform 1s;
   transform-style: preserve-3d;
   border: none;
   background-color: var(--light-gray);
}

/* height and margin set to avoid clipping of flip */
/* background color here prevents white when sorting */
.card__face {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   height: 90%;
   width: 90vw; /*change here as gets wider*/
   word-wrap: anywhere;
   margin: 1.4rem 0 0 0;
   border: none;
   backface-visibility: hidden;
   background-color: var(--card-green);
}

.card__face--front {
   background-color: var(--card-green);
   box-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.5);
}

.card__face--back {
   background-color: var(--card-yellow);
   box-shadow: 1.5px 1.5px 3.5px rgba(0, 0, 0, 0.5);
   transform: rotateY(180deg);
}

.card.is-flipped {
   transform: rotateY(180deg);
}

.card-edit-container {
   font-size: 1.5rem;
   width: 90vw;
   position: relative;
   margin: 2rem 0;
}

.card-edit {
   width: 90vw;
   height: 15rem;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.btn-edit {
   position: absolute;
   bottom: 5px;
   right: 5px;
   border: 1px solid var(--text-one);
   border-radius: 5%;
   font-size: 1rem;
   padding: 0.5rem;
   background: none;
   outline: none;
}

.btn-edit:focus {
   outline: none;
}

.card-edit-1 {
   background-color: var(--card-green);
   cursor: pointer;
   width: 100%;
   height: 51%;
}

.card-edit-2 {
   background-color: var(--card-yellow);
   cursor: pointer;
   width: 100%;
   height: 51%;
}

.carousel-control-prev-icon {
   margin-left: -8rem;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
   margin-right: -8rem;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev {
   display: none;
}

.carousel-control-next {
   display: none;
}

.counter {
   font-size: 0.7rem;
   margin-bottom: 1rem;
}

.below-header {
   height: 84.3vh;
   width: 100%;
   background-color: rgba(143, 238, 189, 0.4);
}


.update-profile {
   background: url("../src/assets/colored-squares.jpg");
   background-size: cover;
   background-position: center;
   height: 100vh;
}

.welcome-page {
   padding: 0 1rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 1rem;
}

.video-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-transform: capitalize;
   text-align: center;
   width: 100%;
   height: 100%;
   padding-bottom: 1rem;
   margin-top: 1rem;
   border: none;
   border-radius: 10px;
   background-color: rgba(143, 238, 189, .4);
   /* background-color: rgb(255, 251, 100, 1); */
}

video {
   height: 25rem;
}

.h4 {
   font-weight: 700;
   text-transform: capitalize;
   margin: 0;
}

.intro-text-1 {
   margin-top: 1rem;
}



@media only screen and (min-width: 580px) {
   .addPerson-container {
      display: flex;
      flex-direction: row;
      padding: 0;
   }

   .add-person-form {
      padding-top: 1rem;
      width: 50vw;
      margin-left: .01rem;
   }

   .study-img-container {
      display: inline-block;
      width: 50vw;
   }

   .study-img {
     width: 100%;
     height: 84.3vh;
     object-fit: cover;
   }

   .welcome-page { 
      font-size: 1.2rem;
   }
   video {
      height: 26rem;
   }

   .carousel {
      width: 35rem;
   }
   .carousel-counter {
      width: 35rem;
   }
   .card {
      height: 22rem;
   }
   .card__face {
      width: 35rem;
   }
   .card-edit-container {
      margin-top: 2rem;
      width: 35rem;
      height: 22rem;
      margin: 0 auto;
   }
   .card-edit {
      margin-top: 1.5rem;
      width: 35rem;
      height: 22rem;
   }

   .navbar-toggler-icon {
      font-size: 1.2rem;
   }

   .profile-nav__item {
      font-size: 1.3rem;
   }

   #dropdown-basic-button-2 {
      font-size: 1.3rem;
   }

   .counter {
      font-size: 1rem;
      margin-bottom: 1rem;
   }
}

@media only screen and (min-width: 769px) {
   .welcome-page {
      flex-direction: row;
      align-items: flex-start;
      margin: 0 2rem;
   }

  .welcome-page-text {
   width: 50vw;
   margin-left: 1rem;
}

   .video-container {
      width: 50vw;
      height: 76vh;
   }


   .carousel-control-prev {
      display: inline-block;
      top: 50%;
      right: 0;
   }
   .carousel-control-next {
      display: inline-block;
      top: 50%;
   }
   .add-deck-component {
      margin: 0 2rem 0 1rem;
   }
}

@media only screen and (min-width: 876px) {

   .text-paragraph-hidden {
      display: inline-block;
   }

   #dropdown1 {
      visibility: hidden;
   }

   .alt-choices {
      height: 15rem;
      display: inline-block;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
   }

   .alt-choice {
      position: relative;
   }

   .alt-choice::before {
      content: "";
      position: absolute; /*positioned in relation to 'parent' __item*/
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--main-blue);
      opacity: .6;
      transform: scaleY(0);
      transition: transform .2s, 
                  width .4s cubic-bezier(1, 0, 0, 1) .2s,
                  background-color .1s;
   }

   .alt-choice:hover::before {  /*acts on before psuedo element scaleY(0) to (1)*/
      transform: scaleY(1);
      width: 200px;
  }

   .avatar {
      width: 7rem !important;
      height: 7rem !important;
   }
}

@media only screen and (min-width: 1025px) {
   .addPerson-container {
      background-color: rgba(143, 238, 189, 0.4)
   }
   .welcome-page {
      margin: 0 7rem;
   }

   .welcome-page-text {
      margin-left: 3rem;
   }

   .avatar {
      margin-left: 3rem;
   }

   .client-name {
      margin-right: 1.5rem;
   }

   .card {
      font-size: 3rem;
      height: 28rem;
   }
   .card-edit-container {
      padding-top: .2rem;
      font-size: 3rem;
      height: 26rem;
   }
   .card-edit {
      font-size: 3rem;
      height: 26rem;
   }
   .alt-choices {
   white-space: nowrap; 
   height: 20rem;
   margin-left: 3rem;
   }  
   .add-deck-btn {
      font-size: 1.5rem;
      padding: 6px;
      margin: 0.5rem 0;
   }
   .profile-header {
      padding-right: 13rem;
   }
   .study-img-container {
      width: 49vw;
   }
}



/* @media only screen and (max-width: 915px) {
   .update-profile form {
      background-color: rgba(143, 238, 189, 0.4);
   }
} */

/* 
 Primary color: #0077CC (a blue shade) - Use this color for the main elements of the application, such as the header, buttons, and active states.

Secondary color: #F4F4F4 (a light gray shade) - Use this color for the background of the application and to create contrast with the primary color.

Accent color: #FFC107 (a yellow shade) - Use this color to highlight important elements, such as the currently selected flashcard or a correct answer.

Text color: #333333 (a dark gray shade) - Use this color for the text throughout the application.

Error color: #FF0000 (a red shade) - Use this color to indicate errors or incorrect answers. */

/* @media only screen and (max-width: 768px) {
   .card-edit {
      width: 90vw;
      margin: 5 auto;
   }
   .card-edit-container {
      width: 90vw;
      margin: 5 auto;
   }
} */

/* .card-edit-container {
   width: 35rem;
   position: relative;
   margin-top: 48px;
}

.card-edit {
   width: 35rem;
   height: 25rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 0;
} */
