
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

:root {
    --text-one: #333333;
    --light-gray: #F4F4F4;
    --main-blue: #0077cc;
    --card-green: #8feebd;
    --card-yellow: #fffb64;
    --yellow-two: #fffb64;
    --red-one: #FF0000;
  }

  /* --yellow-two: #ffc107; */

*,
*::before,
*::after {
    margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.54; 
}


body {
   font-family: "Roboto", sans-serif;
   font-size: 1rem;
   background-color: var(--light-gray);
   color: var(--text-one);
}

@media only screen and (min-width: 426px) {
    body {
      font-size: 1.6rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
      }
    }
